@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Roboto:wght@500;700&family=Ruda:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: auto;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: rgba(0, 29, 46, 0.24);
}

.entire {
  position: relative;
  height: 540px;
  width: 960px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

h5 {
  font-size: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #e1eaee;
}

/* BACKGROUND WHILE CODING */
.app_frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: -1;
  box-shadow: -3px 0px 14px rgba(0, 0, 0, 0.25);
  /* opacity: 0.5; */
}

h1 h2 {
  font-family: 'Ruda', sans-serif;
  font-size: 26px;
  color: #e1eaee;
  line-height: 29.54px;
}

/* SECTION - 1  */
.section_1 {
  height: 112px;
  width: 856px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

h1 {
  font-family: Ruda;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 29.54px;
  align-self: flex-end;
  padding-bottom: 5px;
  color: #e1eaee;
}

span {
  font-size: 35px;
  line-height: 45px;
  color: #2b2b2b;
}

h2 {
  font-family: Ruda;
  font-weight: bold;
  font-size: 21px;
  line-height: 39.76px;
  color: #cccccc;
  align-self: flex-end;
  padding-bottom: 10px;
}

/* SECTION - 2  */
.section_2 {
  height: 296px;
  width: 856px;
}

/* TITLES  */
.titles {
  width: 856px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.titles .volT,
#volume_tempo .each_drum {
  width: 110px;
}

.titles .four_drums,
.four_drums {
  width: 428px;
}

.four_drums_container {
  height: 100%;
  margin-right: 2px;
}

.four_drums .drum_title {
  width: 98.5%;
}

.titles .four_drums .drum_title,
.four_drums_container .four_drums {
  display: flex;
  flex-direction: row;
}

.titles .four_drums h5,
.four_drums_container .four_drums .each_drum {
  width: 107px;
  color: #dca310;
}

.titles .hhT,
.hi_hat .flexi {
  width: 198px;
}

.titles .cT,
.close_open .each_drum {
  width: 99px;
}

.drum_title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #dca310;
  height: 35px;
  width: 98.5%;
  margin-bottom: 13px;
  background: rgba(0, 0, 0, 0.5);
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.36);
}

/* DRUMS  */
/* VOLUME GAIN PAN  */
.drum_wrapper {
  width: 856px;
  height: 246px;
  display: flex;
  flex-direction: row;
}

.flexi {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 246px;
}

.each_drum {
  height: 205px;
}

#volume_tempo,
.four_drums .each_drum {
  border-right: 3px solid #a1a9ac;
}

#h_tom .each_drum {
  border-right: none;
}

.close_open {
  display: flex;
  flex-direction: row;
}

.gain {
  transform: rotate(-90deg);
  position: absolute;
}

.input_background {
  position: relative;
  background: #000000;
  box-shadow: inset -1px -1px 0px rgba(236, 231, 212, 0.63);
  border-radius: 14px;
}

/* VOLUME  */
.volume_background {
  background: url('./images/volume_fader_background.svg') no-repeat;
  height: 126px;
  border-bottom: 3px solid #a1a9ac;
}

.volume_background .input_background {
  height: 104px;
  top: 2px;
  left: 47px;
  bottom: 388px;
  width: 9px;
}

.volume_background .slider_thumb {
  background-image: url('./images/volume_fader.svg');
  width: 27px;
  height: 24px;
  position: absolute;
  top: 40px;
  left: -9px;
  cursor: pointer;
}

.volume_background .input_background input {
  position: absolute;
  top: 44px;
  left: -54px;
  width: 116px;
  opacity: 0.2;
}

/* TEMPO  */
.tempoD {
  height: 123px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
}

.digiScreen {
  font-family: 'Roboto Mono', monospace;
  color: red;
  font-size: 15px;
  width: 92px;
  height: 25px;
  background: #000000;
  border: 2px solid #000000;
  margin-left: 3px;
}

.tempoD .input_background {
  height: 9px;
  width: 93px;
  margin-left: 3px;
}

.tempoD .input_background input {
  position: absolute;
  left: 0;
  width: 93px;
  height: 9px;
  opacity: 0.5;
}

.tempoD .input_background .slider_thumb {
  background-image: url('./images/tempo_fader.svg');
  width: 15px;
  height: 27px;
  position: absolute;
  top: -9px;
  left: 39px;
  cursor: pointer;
}

.tempoD h5 {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.16em;
  line-height: 13.63px;
  font-family: 'Roboto', sans-serif;
  color: #dca310;
  text-align: center;
  margin-right: 10px;
}

/* FOUR DRUMS  */
.four_drums .each_drum {
  height: 203px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 14px;
}

/* DRUM GAIN & PAN INPUTS  */
.gain_thumb {
  background-image: url('./images/gain_thumb.svg');
  position: absolute;
}

.pan_thumb {
  background-image: url('./images/pan_thumb.svg');
  position: absolute;
  border-radius: 50%;
  box-shadow: 2px 0px 5px rgba(243, 236, 207, 0.3);
}

/* FOUR DRUMS  */
.four_drums .input_background {
  height: 67px;
  width: 9px;
}

.four_drums_container .gain {
  top: 28px;
  left: -29px;
  width: 67px;
  height: 9px;
  opacity: 0.3;
}

.four_drums_container .gain_thumb {
  height: 14px;
  width: 27px;

  top: 24px;
  left: -9px;
}

.four_drums_container .input_background:last-child {
  height: 9px;
  width: 46px;
  z-index: 0;
}

.four_drums_container .pan {
  position: absolute;
  width: 46px;
  height: 9px;
  opacity: 0.3;
}

.four_drums_container .pan_thumb {
  height: 18.04px;
  width: 18.04px;
  top: -5px;
  left: 14px;
  opacity: 0.3;
}

/* SELECT DRUM BUTTONS  */
.select {
  position: relative;

  background: #000000;
  border: none;
  border-radius: 5px;
  justify-content: space-between;
  align-content: center;
  align-self: center;
  box-shadow: inset -1px -1px 0px rgba(236, 231, 212, 0.63);
}

.select:focus {
  outline: none;
}

.select:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.select .select_button {
  background: rgba(58, 54, 54, 0.79);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.36);
  border-radius: 3px;
  position: absolute;
}

.select .btn_light {
  background: #c4c4c4;
  box-shadow: 0px 0px 0px 1px rgba(100, 102, 102, 0.3),
    inset 0px 1px 2px #fff1ba;
  margin: auto;
}

.four_drums_container .select {
  width: 100px;
  height: 25.26px;
}

.four_drums_container .select .select_button {
  width: 95.74px;
  height: 21px;
  top: 1%;
  left: 2%;
}

.four_drums_container .select .btn_light {
  height: 4px;
  width: 23.7px;
  margin-top: 9px;
}

/* CYMBALS */
/* HH  */
.hi_hat .close_open .input_background {
  height: 50px;
  width: 9px;
}

.hi_hat .gain {
  top: 20px;
  left: -21px;
  height: 9px;
  width: 50px;
  opacity: 0.3;
}

.hi_hat .gain_thumb {
  height: 14px;
  width: 25px;
  top: 16px;
  left: -9px;
}

.hi_hat .close_open .input_background:last-of-type {
  width: 43px;
  height: 8px;
}

.hi_hat .pan {
  position: absolute;
  width: 43px;
  height: 8px;
  opacity: 0.3;
}

.hi_hat .pan_thumb {
  width: 16.95px;
  height: 16.95px;
  top: -4px;
  left: 14px;
  opacity: 0.3;
}

.hi_hat {
  margin-right: 2px;
}

.hi_hat .each_drum {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.hi_hat {
  border: 3px solid #a1a9ac;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.36);
}

.hh_titles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 100%;
  border-bottom: 3px solid #a1a9ac;
}

.hh_titles h5 {
  flex-grow: 1;
}

.hi_hat .select {
  width: 88.69px;
  height: 23.73px;
}

.hi_hat .select .select_button {
  width: 85px;
  height: 20px;
  top: 3%;
  left: 1%;
}

.hi_hat .select .btn_light {
  height: 3px;
  width: 21px;
  margin-top: 8px;
}

/* SECTION - 3 */
.section_3 {
  height: 132px;
  width: 856px;
}
