@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Roboto:wght@500;700&family=Ruda:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: auto;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: rgba(0, 29, 46, 0.24);
}

.entire {
  position: relative;
  height: 540px;
  width: 960px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

h5 {
  font-size: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #e1eaee;
}

/* BACKGROUND WHILE CODING */
.app_frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: -1;
  box-shadow: -3px 0px 14px rgba(0, 0, 0, 0.25);
  /* opacity: 0.5; */
}

h1 h2 {
  font-family: 'Ruda', sans-serif;
  font-size: 26px;
  color: #e1eaee;
  line-height: 29.54px;
}

/* SECTION - 1  */
.section_1 {
  height: 112px;
  width: 856px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

h1 {
  font-family: Ruda;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 29.54px;
  align-self: flex-end;
  padding-bottom: 5px;
  color: #e1eaee;
}

span {
  font-size: 35px;
  line-height: 45px;
  color: #2b2b2b;
}

h2 {
  font-family: Ruda;
  font-weight: bold;
  font-size: 21px;
  line-height: 39.76px;
  color: #cccccc;
  align-self: flex-end;
  padding-bottom: 10px;
}

/* SECTION - 2  */
.section_2 {
  height: 296px;
  width: 856px;
}

/* TITLES  */
.titles {
  width: 856px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.titles .volT {
  width: 110px;
}

.titles .four_drums {
  width: 428px;
}

.four_drums .drum_title {
  width: 98.5%;
}

.titles .four_drums .drum_title {
  display: flex;
  flex-direction: row;
}

.titles .four_drums h5 {
  width: 107px;
  color: #dca310;
}

.titles .hhT {
  width: 198px;
}

.titles .cT {
  width: 99px;
}

.drum_title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #dca310;
  height: 35px;
  width: 98.5%;
  background: rgba(0, 0, 0, 0.5);
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.36);
}

/* SECTION - 3 */
.section_3 {
  height: 132px;
  width: 856px;
}
